streamlit
openai
PyPDF2
langchain_community
langchain_openai
langchain
pinecone-client
langchain_core
sentence_transformers
faiss-cpu
fuzzywuzzy
python-Levenshtein
streamlit-mic-recorder
python-docx
datetime
ffmpeg-python
ffmpy
pydub
pyperclip
tenacity==8.3.0
streamlit-quill
streamlit-option-menu
streamlit-lottie
st-copy-to-clipboard
bleach
tiktoken