streamlit
openai
python-dotenv
markdown2
python-docx
xhtml2pdf
PyPDF2
pydub
pandas
reportlab
streamlit_mic_recorder
moviepy
groq
pdfkit
st-copy-to-clipboard
psutil
moviepy == 2.0.0
streamlit-shadcn-ui
